# Ignore node_modules for Node.js projects
node_modules/

# Ignore log files
*.log
logs/
*.pid
*.seed

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE/editor config files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Ignore Python-specific files
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
ENV/
*.env
*.egg
*.egg-info/

# Ignore Java build files
target/
*.class

# Ignore C/C++ build files
*.o
*.obj
*.so
*.exe

# Ignore build directories
build/
dist/
tmp/

# Ignore compiled files
*.out
*.elf

# Ignore Arduino specific files
*.bin
*.elf
*.hex

# Ignore backup files
*.bak
*.swp

# Ignore environment variable files
.env
.env.local
.env.*.local
wba-wallet.json